@model BixWeb.Models.ReciboPresente

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ReciboPresente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nomeCliente" class="control-label"></label>
                <input asp-for="nomeCliente" class="form-control" />
                <span asp-validation-for="nomeCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cpfCliente" class="control-label"></label>
                <input asp-for="cpfCliente" class="form-control" />
                <span asp-validation-for="cpfCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="emailCliente" class="control-label"></label>
                <input asp-for="emailCliente" class="form-control" />
                <span asp-validation-for="emailCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefoneCliente" class="control-label"></label>
                <input asp-for="telefoneCliente" class="form-control" />
                <span asp-validation-for="telefoneCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="codUsuario" class="control-label"></label>
                <select asp-for="codUsuario" class ="form-control" asp-items="ViewBag.codUsuario"></select>
            </div>
            <div class="form-group">
                <label asp-for="codConvite" class="control-label"></label>
                <input asp-for="codConvite" class="form-control" />
                <span asp-validation-for="codConvite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
